#bio
{
	
}
#bio .box
{
	margin: 32px;
}
#bio .resume
{
	display: flex;
	justify-content: space-between;
}
#bio img
{
	height: 300px;
}
#bio #photo
{
	margin-right: 128px;
}
#bio #photo p
{
	margin-bottom: 0;
	text-align: center;
}
#bio h3
{
	margin-top: 0;
	text-align: center;
}